<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Buscador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-searchbar (keyup.enter)="getItems()" [(ngModel)]="Mi_Busqueda"></ion-searchbar>

<ion-list>

  <ion-item *ngFor="let post of posts" >
    
      <ion-label>{{post.texto}}</ion-label>
      <div class="ion-text-end">
      <ion-button *ngIf="post.id>0 else Otro" outline item-end class="derecha" (click)="enviarcoti(post.id)"><ion-icon slot="icon-only" name="list-outline"></ion-icon></ion-button>
      <ng-template #Otro>
      <ion-button outline item-end class="derecha" (click)="enviarcont(post.id_contacto)"><ion-icon slot="icon-only" name="person-circle-outline"></ion-icon></ion-button>
      </ng-template>
      </div>


  </ion-item>

</ion-list>

</ion-content>