ion-header{ 
	--ion-background-color:#1F262D; 
}
ion-title{ 
	margin-left: 10%;
	color: #999999;
}
.header-row {
  background:#CC0000;
  color: #fff;
}
ion-back-button{ color: #999999; }
.titulo{
	font-size:14px;
	color:#666;
	font-weight: bold;
}

ion-col {
  border: 1px solid #ECEEEF;
}
