ion-header{ 
	--ion-background-color:#DC0000; 
}
ion-title{ 
	color: #FFFFFF;
}
.todo{
	position: relative;
	margin: auto;
	margin-top: 10%;
	width: 90%;
	height: 80%;
	border: #999999 2px solid;
	border-radius: 20px;
	overflow:scroll;
}
.pull-center{
	margin-top: 5%;
	margin-left: 40%;
}
ion-button{
	--background: #DC0000;
}
.dato{
	font-size:14px; 
	color:#666;
}
.contenido{
	margin-left: 5%;
	margin-right:  5%;
	border-bottom: 1px solid rgb(200, 200, 200);

}
.titulo{
	font-size:14px;
	color:#666;
	font-weight: bold;
}