<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Bienvenid@ {{nombre || ""}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <div *ngIf="this.api == 2">
    <ion-label>Presuesto al: {{muestra}} %</ion-label>
    <ion-progress-bar color="danger" [value]="presu">{{presu}}</ion-progress-bar>
    </div>
    <ion-button (click)="enviarcont('GESTIÓN CONTACTO')" class="btn_con"><ion-icon name="person-circle-outline"></ion-icon>Gestion Contacto {{ contact || ""}}</ion-button>
    <ion-button (click)="enviarcont('GESTIÓN COMERCIAL')" class="btn_com"><ion-icon name="albums-outline"></ion-icon> Gestion Comercial {{ comer || ""}}</ion-button>
    <ion-button (click)="enviarcont('GESTIÓN COTIZACIÓN')" class="btn_cot"><ion-icon name="list-outline"></ion-icon> Gestion Cotizacion {{ cotiza || ""}}</ion-button>
    <ion-button (click)="enviarcont('GESTIÓN PEDIDO')" class="btn_com"><ion-icon name="checkbox-outline"></ion-icon> Gestion Pedido {{ pedido || ""}}</ion-button>
    <div *ngIf="this.api == 1">
    <ion-button (click)="enviarlist()" class="btn_com"><ion-icon name="clipboard-outline"></ion-icon> Lista Actividades</ion-button>
    </div>

  </div>
  
</ion-content>
